.urlLink {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-primary-strong);;
  text-decoration: none;
}

.urlLink:hover {
  text-decoration: underline;
}
